@charset "UTF-8";

p{
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

.logoutbutton{
    margin-left:442px;
}

.header{
    font-size: 26px;
    color: #fff;
}

.subhead{
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
}

.filelist{
    padding: 10px;
    margin: 20px 0;
    background-color: #fff;

}

.container{
    width: 100%;
    background-color: #0c142f;
    margin-top:100px;
    padding-bottom: 50px;
    height: auto;
    margin-bottom: 100px;
}



.fileshareform{
    padding-top: 45px;
}

.row{
    width: 50%;
    margin: 0 auto;
}

body{
    background-color: #e7e8ea;
    color: #fff;
}

.login{
    margin-top: 20px;
    margin-bottom: 70px;
    color: #fff;
    font-size: 26px;
}

.logout{
    margin-top: 20px;
    margin-bottom: 70px;
    padding-top: 30px;
    color: #fff;
    font-size: 26px;
}

.uploadelement{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.uploadelementsmall{
    color: #fff;
    font-size: 12px;
    margin-bottom: 20px;
}

.upload{
    margin-top: 20px;
    margin-bottom: 70px;
    padding-top: 30px;
}